{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      // next/babel does not transpile import/export syntax.
      // So, using es2015 in the beginning will fix that.
      "presets": [
        "es2015",
        "next/babel",
        "decorators-legacy"
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-export-extensions",
    "babel-plugin-root-import"
  ]
}
